<div class="section article" style="margin-bottom:20px;">
  <div class="header">
    <h2 class="center100"><%= @entry.title %></h2>
    <ul class="info">
      <li class="date" id="right100"><%= l @entry.created_at.to_time %></li>
    </ul>
  </div>
  <div class="body">

    <div id="wrapcontents">
      <div id="wrapleft-photo">
        <ul>
          <% for i in 0...@entry.image_urls.size %>
            <% if @entry.image_urls[i] != '' %>
              <li><a href="<%= @entry.image_links[i] %>" target="_blank"><img src="<%= @entry.image_urls[i] %>" /></a></li>
            <% end %>
          <% end %>
        </ul>

        <div class="clear"><br />
        </div>

        <% if @entry.movie_type == 'url' %>
          <%for i in 0...@entry.movie_urls_webm.size %>
            <% if @entry.movie_urls_webm[i] != '' %>
              <div style="margin-bottom: 20px;">
                <video style="width:420px; height:296px; background-color:#000000" preload="auto" controls>
                <source src="<%= @entry.movie_urls_webm[i] %>" type="video/webm">
                <source src="<%= @entry.movie_urls_ogg[i] %>" type="video/ogg">
                <source src="<%= @entry.movie_urls_mp4[i] %>" type="video/mp4">
                </video>
              </div>
            <% end %>
          <% end %>
        <% elsif @entry.movie_type == 'snippet' %>
          <%= @entry.movie_snippet %>
        <% end %>
      </div><!-- wrapright-photo -->

      <div id="wrapright-program">
        <div id="description">
          <span style="font-size:13px">
            <%= @entry.body %>
          </span>
        </div><!-- description -->
        <br>  
        <div id="date"> 
          <li><b>場所</b><br><%= @entry.place %></li>
        </div><!-- date -->  
      </div>
      <div class="clear"></div>
    </div>


  </div>
  <div class="clear"></div>
  
  <div class="footer">
	  
	  <!-- 上へ戻る -->
	  <script src="http://nanachan.tv/js/totop.js"></script>
	  <!-- 編集 -->
    <% if logged_in? %>
    <div style="font-size:10px;"><a href="<%= @entry.edit_link %>"><%= t.edit %></a></div>
    <% end %>
  </div>
</div>
