<% unless index? %>
  <h2><%= @title %></h2>
<% end %>
<div class="section articles">

  <ol>
    <% @posts.each do |post| %>
      <li class="entries_link" style="width:180px;height:175px; float:left; margin-left:10px">
      <span>
        <a href="<%= post.link %>">
          <img style="height:120px; width:180px;" src="<%= post.thumbnail_image_url %>" />
          <br />
          <span style="font-size:11px"><%= post.title %></span>
        </a>
      </span>
      </li>
    <% end %>
  </ol>

  <div class="pager">
    <ul>
      <% if @posts.pager.previous_page %>
        <li class="previous"><a href="?page=<%= @posts.pager.previous_page %>">Newer</a></li>
      <% end %>
      <% if @posts.pager.next_page %>
        <li class="next"><a href="?page=<%= @posts.pager.next_page %>">Older</a></li>
      <% end %>
    </ul>
  </div>
</div>
