<div class="section article" style="margin-bottom:20px;">
  <div class="header">
    <h2 class="center100"><%= @entry.title %></h2>
    <ul class="info">
      <li class="date" id="right100"><%= l @entry.created_at.to_time %></li>
    </ul>
  </div>
  <div class="body">

    <div id="wrapcontents">
      <div id="wrapleft-photo">
        <ul>
          <% @entry.image_urls.each do |i| %>
            <% if i != '' %>
              <li><a href="http://www.flickr.com/photos/58355766@N05/5361001156/lightbox/" target="_blank"><img src="<%= i %>" /></a></li>
            <% end %>
          <% end %>
        </ul>

        <div class="clear"><br />
        </div>

        <% if @entry.movie_type == 'url' %>
          <video src="<%= @entry.movie_url %>" style="width:420px; height:296px"></video>
        <% elsif @entry.movie_type == 'snippet' %>
          <%= @entry.movie_snippet %>
        <% end %>
      </div><!-- wrapright-photo -->

      <div id="wrapright-program">
        <div id="description">
          <span style="font-size:13px">
            <%= @entry.body %>
          </span>
        </div><!-- description -->
        <br>  
        <div id="date"> 
          <li><b>場所</b><br><%= @entry.place %></li>
        </div><!-- date -->  
      </div>
      <div class="clear"></div>
    </div>


  </div>
  <div class="clear"></div>
  
  <div class="footer">
	  
	  <!-- 上へ戻る -->
	  <script src="http://nanachan.tv/js/totop.js"></script>
	  <!-- 編集 -->
    <% if logged_in? %>
    <div style="font-size:10px;"><a href="<%= @entry.edit_link %>"><%= t.edit %></a></div>
    <% end %>
  </div>
</div>
