- unless @post.errors.empty?
  #error
    .title= t.error
    %ul
      - @post.errors.each do |error|
        %li= error
.field
  %label{:for => 'post_title'}= t.post.title
  %br
  %input{:type => 'text', :id => 'post_title', :name => 'post[title]', :value => @post.title}
.field
  %label{:for => 'post_thumbnail_image_url'}= t.post.thumbnail_image_url
  %br 
  %input{:type => 'text', :id => 'post_thumbnail_image_url', :name => 'post[thumbnail_image_url]', :value => @post.thumbnail_image_url}
.field
  %label{:for => 'post_body'}= t.post.body
  %br
  %textarea{:id => 'post_body', :class => 'editor', :name => 'post[body]', :rows => 10, :cols => 50}= h @post.body
.field
  %label{:for => 'post_place'}= t.post.place
  %br
  %input{:type => 'text', :id => 'post_place', :name => 'post[place]', :value => @post.place}
.field
  %label{:for => 'post_image_urls'}= t.post.image_urls
  %ol
    %li
      %input{:type => 'text', :id => 'post_image_url_00', :name => 'image_urls[0]', :value => @post.image_urls[0] ? @post.image_urls[0] : ''}
    %li
      %input{:type => 'text', :id => 'post_image_url_01', :name => 'image_urls[1]', :value => @post.image_urls[1] ? @post.image_urls[1] : ''}
    %li
      %input{:type => 'text', :id => 'post_image_url_02', :name => 'image_urls[2]', :value => @post.image_urls[2] ? @post.image_urls[2] : ''}
    %li
      %input{:type => 'text', :id => 'post_image_url_03', :name => 'image_urls[3]', :value => @post.image_urls[3] ? @post.image_urls[3] : ''}
    %li
      %input{:type => 'text', :id => 'post_image_url_04', :name => 'image_urls[4]', :value => @post.image_urls[4] ? @post.image_urls[4] : ''}
    %li
      %input{:type => 'text', :id => 'post_image_url_05', :name => 'image_urls[5]', :value => @post.image_urls[5] ? @post.image_urls[5] : ''}
    %li
      %input{:type => 'text', :id => 'post_image_url_06', :name => 'image_urls[6]', :value => @post.image_urls[6] ? @post.image_urls[6] : ''}
    %li
      %input{:type => 'text', :id => 'post_image_url_07', :name => 'image_urls[7]', :value => @post.image_urls[7] ? @post.image_urls[7] : ''}
    %li
      %input{:type => 'text', :id => 'post_image_url_08', :name => 'image_urls[8]', :value => @post.image_urls[8] ? @post.image_urls[8] : ''}        
.field
  %label{:for => 'post_movie_type'}= t.post.movie_type
  %br
  %select{:id => 'post_movie_type', :name => 'post[movie_type]'}
    %option{:value => 'url', :selected => (@post.movie_type == 'url')}= t.post.movie_type_url
    %option{:value => 'snippet', :selected => (@post.movie_type == 'snippet')}= t.post.movie_type_snippet
.field
  %label{:for => 'post_movie_url'}= t.post.movie_url
  %ul
    %li
      %label{:for => 'post_movie_url_webm'}= t.post.movie_url_webm
      %input{:type => 'text', :id => 'post_movie_url_webm', :name => 'post[movie_url_webm]', :value => @post.movie_url_webm}
    %li
      %label{:for => 'post_movie_url_ogg'}= t.post.movie_url_ogg
      %input{:type => 'text', :id => 'post_movie_url_ogg', :name => 'post[movie_url_ogg]', :value => @post.movie_url_ogg}
    %li
      %label{:for => 'post_movie_url_mp4'}= t.post.movie_url_mp4
      %input{:type => 'text', :id => 'post_movie_url_mp4', :name => 'post[movie_url_mp4]', :value => @post.movie_url_mp4}
.field
  %label{:for => 'post_movie_snippet'}= t.post.movie_snippet
  %br
  %textarea{:type => 'text', :id => 'post_movie_snippet', :name => 'post[movie_snippet]'}= @post.movie_snippet
.field
  %label{:for => 'post_slug'}= t.post.slug
  %br
  %input{:type => 'text', :id => 'post_slug', :name => 'post[slug]', :value => @post.slug}
.field
  %label{:for => 'post_category'}= t.post.category
  %br
  - if @categories.size > 1
    = select_field @post, :category_id, @categories, :id => 'post_category'
  - else
    = t.no_category
.field
  %label{:for => 'post_tag_collection'}= t.post.tags
  %br
  %input{:type => 'text', :id => 'post_tag_collection', :name => 'post[tag_collection]', :value => @post.tag_collection}
.field
  %label{:for => 'post_draft'}= t.post.draft
  %br
  %input{:type => 'hidden', :name => 'post[draft]', :value => 'false'}
  %input{:type => 'checkbox', :id => 'post_draft', :name => 'post[draft]', :value => 'true', :checked => @post.draft}
.field
  %label{:for => 'post_created_at'}= t.post.created_at
  %br
  %input{:type => 'text', :id => 'post_created_at', :name => 'post[created_at]', :value => @post.created_at}
